@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
		position: absolute;
		transition: all 0.5s;
		// outline-offset: 2rem;
		border-radius: 2px;

		@include mx.img_hover;

		&--p1 {
			left: -2rem;
			top: -2rem;
		}
		&--p2 {
			right: 0rem;
			top: 2rem;
		}
		&--p3 {
			left: 20%;
			top: 10rem;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}
}
