@keyframes move_in_left {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		opacity: 0.8;
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move_in_right {
	0% {
		opacity: 0;
		transform: translateX(5rem);
	}
	80% {
		opacity: 0.8;
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes move_in_up {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
