@use '../abstracts/variables' as v;
@mixin uppercase {
	text-transform: uppercase;
}

@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin img_hover {
	&:hover {
		transform: scale(1.15) translateY(-0.5rem);
		border: 5px solid v.$color-primary;
		box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
		padding: 10px;
		z-index: 1;
	}
}
