/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
// @function default_font($a, $b) {
// 	@return ($a/$b)*100%;
// }
html {
	font-size: 62.5%;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: #777;
	padding: 3rem;
	box-sizing: border-box;
}
